.main-progress {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-progress-image {
  width: auto;
  margin-top: 5%;
  display: block;
}

.stats {
  font-family: CustomFont; 
  text-align: center; 
  font-size: 2rem; 
  margin-top: 3vh;
}

@media (max-width: 768px) {
  .main-progress-image {
    width: 100%;
    height: auto;
  }

  .main-progress h2 {
    font-size: 1.5rem;
  }

  .main-progress span {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main-progress h2 {
    font-size: 1.2rem;
  }

  .main-progress span {
    font-size: 0.8rem;
  }
}